<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi fuga doloremque possimus laudantium, tenetur dolores atque minima maiores neque qui ab blanditiis, quis sint omnis libero vel eligendi nemo incidunt.</p>
    </div>
</div>