.container-pass-visible{
  display: flex;
  align-items: center;
  width: 100%;
}

.container-pass-visible > input {
  height: 3em;
  width: 100%;
  padding: 1em;
  font-weight: bold;
}

.container-pass-visible > input::placeholder{
  font-weight: bold;
}

.button-pass-visible{
  object-fit: contain;
  height: 1.8em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2em;
  opacity: .8;
  margin-left: -14%;
}